.catalog-item{
    position: relative;
    padding-top: 0 !important;
    margin-bottom: 32px;
}

.catalog-item img{
    width: 100%;
}

.badge-item p{
    margin: 0 !important;
    padding: 0;
    text-align: center;
    position: absolute;
    right: 15%;
    top: 25%;
}
.catalog-item .badge-item{
    width: 45px;
    height: 45px;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-weight: bold;
    background-color: #ff7171;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 50%;
}

.category-label{
    background-color: #81a9d1;
    box-sizing: border-box;
    height: 32px;
    font-size: .9rem;
    padding: 5px 12px;
    border-radius: 16px;
    margin-right: 5px;
    color: #fff;
    margin-top: 4px;
    float: left;
}

.catalog-item h2{
    width: 100%;
    float: left;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
}

.catalog-item p{
    float: left;
    margin-bottom: 16px;
}

.catalog-item .promo_price{
    float: left;
    font-size: 20px;
    margin-right: 8px;
}

.catalog-item .price{
}

