.product{
  margin-top: 32px;
  box-sizing: border-box;
  padding: 0.
}

.imageSide{

}

.imageSide > .imageSide__image .imageSide__image-item{
  
  height: 500px;
  background-position: center;
  background-size:contain ; 
  background-repeat: no-repeat;
}

.imageSide > .imageSide__images{
  height: 105px;
  justify-content: space-evenly;
  margin-top: 12px;
}

.imageSide>.imageSide__images>img{
  box-sizing: border-box;
  cursor: pointer;
}

.productItem{}
.productItem .productItem__title{
  color: #333;
  font-weight: 600;
}

.productItem .productItem__categories{
  margin-top: 12px;
  margin-bottom: 12px;
}

.productItem .productItem__categories > div{
  background-color: #81a9d1;
  color: #fff;
}

.productItem__quantity input{
  width: 30px;
}

.productItem .productItem__categories .productItem__categories-label{
  margin-right: 6px;
}

.productItem .productItem__promo_price{
  float: left;
  margin-right: 8px;
  font-size: 20px;
}

.productItem .productItem__price {
  font-weight: 600;
}

.productItem .productItem__description{
  font-weight: 300;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: justify;
}
.productItem .productItem__quantity{
  margin-top: 12px;
  margin-bottom: 12px;
  display: block;
}

.productItem .productItem__quantity input::-webkit-outer-spin-button,
.productItem .productItem__quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.productItem .productItem__quantity input[type=number] {
  -moz-appearance: textfield;
}


.productItem .productItem__buy{
  background-color: #000
}

@media screen and (min-width: 1297px){
  .product{
      max-width: 1280px;
      margin: 0 auto;
  }
}